<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>gerenciador</display-name>
	<welcome-file-list>
		<welcome-file>HelloWord.html</welcome-file>
	</welcome-file-list>
		
	<session-config>
		<!-- 10 min -->
		<session-timeout>10</session-timeout>
	</session-config>
	
	<servlet>
		<servlet-name>helloWorld</servlet-name>
		<servlet-class>br.com.alura.gerenciador.servlet.HelloWord</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>helloWorld</servlet-name>
		<url-pattern>/helloWorld</url-pattern>
	</servlet-mapping>
			
	<filter>
		<filter-name>Monitor</filter-name>
		<filter-class>br.com.alura.gerenciador.servlet.MonitorFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Monitor</filter-name>
		<url-pattern>/main</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>Login</filter-name>
		<filter-class>br.com.alura.gerenciador.servlet.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Login</filter-name>
		<url-pattern>/main</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>Controller</filter-name>
		<filter-class>br.com.alura.gerenciador.servlet.ControllerFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Controller</filter-name>
		<url-pattern>/main</url-pattern>
	</filter-mapping>
</web-app>